[submodule "Livox-SDK"]
	path = .devcontainer/installation_files/Livox-SDK
	url = https://github.com/Livox-SDK/Livox-SDK.git
	branch = fix_ros2_humble
[submodule "livox_ros2_driver"]
	path = livox_ros2_driver_ws/src
	url = https://github.com/Livox-SDK/livox_ros2_driver.git
[submodule "zed-open-capture"]
	path = .devcontainer/installation_files/zed-open-capture
	url = https://github.com/stereolabs/zed-open-capture.git
[submodule "Sophus"]
	path = .devcontainer/installation_files/Sophus
	url = https://github.com/EP-Capstone-3D-Scanner/Sophus.git
	branch = Sophus-Fixed
[submodule "fast-livo2_ws/src/rpg_vikit"]
	path = fast-livo2_ws/src/rpg_vikit
	url = https://github.com/integralrobotics/rpg_vikit.git
[submodule "Livox-SDK2"]
	path = .devcontainer/installation_files/Livox-SDK2
	url = https://github.com/Livox-SDK/Livox-SDK2.git
[submodule "FAST-LIVO2"]
	path = fast-livo2_ws/src/FAST-LIVO2
	url = https://github.com/integralrobotics/FAST-LIVO2.git
	branch = ros2
[submodule "usb_cam"]
	path = usb_cam_ws/src/usb_cam
	url = https://github.com/ros-drivers/usb_cam.git
[submodule "livox_ros_driver2"]
	path = livox_ros_driver2_ws/src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
